.container {
    text-align: center;
    }
    
    .game-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
    }
    
    .game-cell {
        width: 100px;
        height: 100px;
        box-shadow: 0 0 0 1px #333333;
        border: 6px solid #fff;
        cursor: pointer;
        line-height: 100px;
        font-size: 60px;
        background-color: #eb0808;
      }