<div class="container">
    <h1>Tic Tac Toe</h1>
    <div class="game-container">
        <!-- <app-field [content]="fields[i]" *ngFor="let obj_field of squares; index as i" [(ngModel)]="fields[i]" (click)="checkField(i)"></app-field>-->

        <div *ngFor="let obj_field of campo; index as i" (click)="jugar(obj_field, i)" class="game-cell">
            <app-mark [content]='obj_field'></app-mark>
            <!-- <span *ngIf="obj_field.ind_x">X</span> -->
            <!-- <span *ngIf="obj_field.ind_o">O</span> -->
        </div>
    </div>
    <div class="alert alert-warning" role="alert">
        <h3>{{ this.mensaje }}</h3> 
      </div>
    <div class="d-grid gap-2">
        <button *ngIf="game.status" (click)="resetGame()" class="btn btn-secondary">Jugar de nuevo</button>
      </div>

      <table>
          <tr *ngFor="let item of games">
              <td> {{ item}} </td>
          </tr>
      </table>

   
</div>